<!-- footer部分 -->
<div id="footer-outer" class="footer-outer">
  <div id="footer-inner" class="footer-inner">
    <span class="footer-left">© <%=config.author%> </span>
    <span class="footer-right">Hexo Theme Graffiti by Xiaoqi</span>
  </div>
</div>  